<h2>Edit this message</h2>
<% form_for(:message_translation,:url => { :action => "update",:msgid=>params[:msgid] }) do |f| %>
	<p>Message ID<br /><textarea disabled><%= params[:msgid] %></textarea></p>
	<p>Translation<br /><%= f.text_area :translation %></p>
	<%= f.submit "Save" %>
<% end %>
<a href="/<%= params[:lang] %>/message_translations">view all</a>