<h2>Edit this message</h2>
<%% form_for(:po_entry,:url => { :action => "update",:msgid=>params[:msgid] }) do |f| %>
	<p><strong>Message ID:</strong></p><p><%%= f.text_area :msgid, :cols => 50, :rows => 12,:disabled => 'disabled' %></p>
	<p><strong>Translation:</strong></p><p><%%= f.text_area :msgstr,:cols => 50, :rows => 12 %></p>
	<%%= f.submit "Save" %>
<%% end %>
<a href="/<%%= params[:lang] %>/po_entries">view all</a>