<table>
	<tr>
		<th></th>
		<th>MSG ID</th>
		<th>Translation</th>		
	</tr>
	
<% @message_translations.each do |po_entry| %>
	<% next if po_entry.msgid=="" %>
	<tr>
		<td>
			<a href="<%= "/#{GettextLocalize.locale}/message_translations/edit?msgid=#{CGI::escape(po_entry.msgid)}" %>">edit</a>
		</td>
		<td><%= po_entry.msgid %></td>
		<td><%= po_entry.msgstr %></td>
	</tr>
<% end %>
</table>