<h2>Message</h2>
<p>
	<strong>Message ID:</strong>
</p>
<p>
	<%%= params[:msgid] %>
</p>
<p>
	<strong>Current Translation:</strong>
</p>
<p>
	<%%= GetText.gettext(params[:msgid]) %>
</p>

<p>
	<a href="/<%%= params[:lang] %>/po_entries">view all</a>
</p>